header,body
{
    background-color: white;
    
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main
{
    padding-right: 5%;
    padding-bottom: 5%;
}
.poster
{
    bottom: 2%;
    height: auto;
    max-height: fit-content;
}
.col-2
{
    font-weight: bold;
}
