header,body
{
    background-color: white;
    
}

.main
{
    padding-right: 5%;
    padding-bottom: 5%;
}
.poster
{
    bottom: 2%;
    height: auto;
    max-height: fit-content;
}
td
{
    border:1px solid black;
}